.hljs-keyword,
.hljs-label,
.hljs-attr,
.hljs-attribute {
  color: var(--color-code-a);
}

.hljs-literal,
.hljs-number,
.hljs-title,
.hljs-params,
.hljs-built_in,
.hljs-name,
.hljs-subst {
  color: var(--color-code-b);
}

.hljs-tag,
.hljs-type,
.hljs-string {
  color: var(--color-code-c);
}

.hljs-comment {
  color: var(--color-light);
}
