@media screen and (max-width: 800px) {
  body {
    font-size: calc(var(--size-body) - 2px);
    padding-bottom: calc(var(--line-height) * 1);
  }

  .example .left,
  .example .right {
    width: 100%;
    padding: 0;
    float: none;
  }

  .example .left {
    margin-bottom: calc(var(--line-height) * 1);
  }

  #corner {
    top: 1.2em;
    right: -2.5em;
    width: 9em;
  }

  #corner span {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  header {
    padding-top: var(--line-height);
    padding-bottom: calc(var(--line-height) * 1 / 2);
  }

  header h2 {
    line-height: calc(var(--line-height) * 3 / 2 / (9 / 5));
  }

  header .button label {
    display: none;
  }

  header > div {
    display: block;
    border-top: none;
    margin-top: calc(var(--line-height) * 7 / 2);
    text-align: left;
  }

  header aside {
    border: none;
    border-top: 1px var(--color-fade) solid;
    padding: calc(var(--line-height) * 1 / 2) 0 calc(var(--line-height) * 1);
  }

  header ul {
    margin: 0;
  }

  header li {
    display: inline;
  }

  header li::after {
    content: ',';
    margin-right: 0.5em;
  }

  header li:last-of-type::after {
    display: none;
  }

  header aside h3 {
    margin: 0;
  }

  header code .save,
  header code .version {
    display: none;
  }
}
