@media screen and (max-width: 800px) {
  body {
    font-size: calc(var(--size-body) - 2px);
    padding-bottom: calc(var(--line-height) * 1);
  }

  .example .left,
  .example .right {
    width: 100%;
    padding: 0;
    float: none;
  }

  .example .left {
    margin-bottom: calc(var(--line-height) * 1);
  }

  #corner {
    top: 1.2em;
    right: -2.5em;
    width: 9em;
  }

  #corner span {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  header > div {
    display: block;
  }

  header > div::before {
    display: none;
  }

  header aside {
    border: none;
    padding-bottom: calc(var(--line-height) * 1 / 2);
  }

  header code .save,
  header code .version {
    display: none;
  }

  :--button label {
    display: none;
  }
}
