@media screen and (max-width: 800px) {
  body {
    font-size: calc(var(--size-body) - 2px);
    padding-bottom: calc(var(--line-height) * 1);
  }

  header {
    padding-top: calc(var(--line-height) * 3);
    padding-bottom: calc(var(--line-height) * 2);
  }

  header h1 {
    font-size: 3em;
  }

  header code,
  header .button {
    margin-bottom: calc(var(--line-height) * 1);
  }

  article {
    padding-top: 0;
  }

  .example .left,
  .example .right {
    width: 100%;
    padding: 0;
    float: none;
  }

  .example .left {
    margin-bottom: calc(var(--line-height) * 1);
  }

  #corner {
    top: 1.2em;
    right: -2.5em;
    width: 9em;
  }

  #corner span {
    display: none;
  }
}
