@custom-selector :--header h1, h2, h3, h4, h5, h6;
@custom-selector :--button button, .button;

/* Disable focus. */
*:focus { outline: none; }

/* Text selection */
::selection {
  background: var(--color-code-b);
  color: #fff;
}

body {
  background-color: var(--color-background);
  font-family: var(--font-body);
  font-size: var(--size-body);
  color: var(--color-body);
  line-height: var(--line-height);
  padding-bottom: calc(var(--line-height) * 2);
}

a {
  color: inherit;
  text-decoration: inherit;
}

p, ul, ol, pre, .table-wrapper {
  margin: 0 0 var(--line-height);
}

pre, code {
  font-family: var(--font-mono);
  font-size: var(--size-mono);
}

pre {
  color: var(--color-alt);
  padding: calc(var(--mono-height) * 1 / 2) calc(var(--mono-height) * 3 / 4);
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: var(--border-radius);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
  line-height: var(--mono-height);
  margin: calc(var(--line-height) * 3 / 2) 0;
}

pre code {
  font-size: 1em;
}

:--header {
  color: var(--color-solid);
  font-size: calc(1em * 5 / 4);
  font-family: var(--font-header);
  font-weight: 900;
  margin: calc(var(--line-height) * 8 / 5) 0 calc(var(--line-height) * 4 / 5);
}

:--header a {
  color: var(--color-light);
  margin-left: 0.5em;
  text-decoration: none !important;
}

header {
  background-color: var(--color-background-header);
  padding: calc(var(--line-height) * 4) var(--line-height);
  text-align: center;
  overflow: hidden;
  position: relative;
  color: var(--color-solid);
}

header h1 {
  font-family: var(--font-body);
  font-size: 1em;
  font-style: italic;
  font-weight: normal;
  margin: 0 0 calc(var(--line-height) * 1 / 2);
}

header h2 {
  font-size: calc(1em * 3 / 2);
  margin: 0 0 calc(var(--line-height) * 1);
}

header code {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: var(--border-radius);
  line-height: calc(var(--mono-height) * 2);
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1);
  padding: 0 1em;
  white-space: nowrap;
}

header code:before {
  content: '$ ';
  opacity: 0.4;
}

header code,
header :--button {
  color: var(--color-body);
  margin: 0 0.4em;
}

.example {
  border-bottom: 1px var(--color-background-header) solid;
  padding: calc(var(--line-height) * 2) 0;
}

.example p,
.example ul {
  margin: 0;
}

.example ul {
  padding: 0;
  list-style-type: none;
}

.example li:before {
  content: '- ';
  color: var(--color-light);
  font-family: var(--font-mono);
  font-size: var(--size-mono);
}

.example .left,
.example .right {
  color: var(--color-alt);
  width: 50%;
}

.example .left {
  float: left;
  padding-right: calc(var(--line-height) * 1 / 2);
}

.example .right {
  float: right;
  padding-left: calc(var(--line-height) * 1 / 2);
}

.container > div > p {
  font-family: var(--font-header);
  font-size: calc(1em * 4 / 5);
  font-weight: bold;
}

.example input {
  color: var(--color-alt);
  padding: 0 calc(var(--mono-height) * 3 / 4);
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: var(--border-radius);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
  line-height: calc(var(--mono-height) * 2);
  margin: calc(var(--line-height) * 1 / 2) 0 0;
  font-size: var(--size-mono);
  font-family: var(--font-mono);
  width: 100%;
  border: none;
}

.product-container {
  border-radius: var(--border-radius);
  background-color: var(--color-background-subheader);
  border: 1px var(--color-background-subheader-border) solid;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.15);
  height: calc(var(--line-height) * 5);
  font-family: var(--font-header);
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  padding-top: 1.5em;
  position: relative;
}

.product-container h1 {
  display: inline-block;
  margin: 0;
  font-size: calc(1em * 5 / 4);
  font-weight: normal;
  color: var(--color-body);
}

.product-container h4 {
  display: inline-block;
  margin: 0;
  font-size: inherit;
  font-weight: normal;
  color: var(--color-light);
  position: relative;
  top: -0.75em;
}

.product-container h1,
.product-container h4,
.product-container .details > div > span {
  text-transform: capitalize;
}

.product-container h1:after,
.product-container h4:after {
  content: ', ';
  margin-right: 0.5em;
}

.product-container h1:last-of-type:after,
.product-container h4:last-of-type:after {
  display: none;
}

.product-container hr {
  border: none;
  height: 0;
  margin: 0;
}

.product-container .details {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 1px var(--color-background-subheader-border) solid;
  background-color: var(--color-background-subheader-alt);
  font-size: calc(1em * 4 / 5);
  line-height: var(--line-height);
  height: calc(var(--line-height) * 2);
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.product-container .details > div {
  display: inline-block;
  position: relative;
  top: calc(var(--line-height) * -2 / 3);
  border-radius: var(--border-radius);
  background-color: var(--color-background-subheader);
  border: 1px var(--color-background-subheader-border) solid;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.product-container .details > div > span {
  display: inline-block;
  padding: calc(var(--line-height) * 1 / 6 - 2px) 0.8em;
  position: relative;
}

.product-container .details > div > span:after {
  content: ' ';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background-color: var(--color-background-subheader-border);
}

.product-container .details > div > span:last-of-type:after {
  display: none;
}

.container {
  padding: 0 var(--line-height);
  max-width: var(--max-width);
  margin: 0 auto;
}

.container:after {
  content: ' ';
  display: block;
  clear: both;
}

article {
  max-width: var(--max-width);
  padding: 0 var(--line-height);
  margin: 0 auto;
}

article a {
  text-decoration: underline;
}

:--button {
  display: inline-block;
  background-color: var(--color-button);
  border-radius: var(--border-radius);
  line-height: calc(var(--mono-height) * 2);
  box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);
  color: var(--color-body);
  padding: 0 1em;
  font-family: var(--font-mono);
  font-size: var(--size-mono);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
}

:--button:hover {
  color: #fff;
}

#corner {
  position: absolute;
  top: 2.6em;
  right: -4em;
  transform: rotate(45deg);
  transform-origin: center;
  width: 15em;
  line-height: calc(var(--line-height) * 4 / 3);
  text-align: center;
  display: block;
  background-color: rgba(255, 255, 255, 0.1);
  font-family: var(--font-header);
  color: var(--color-alt);
}
