@custom-selector :--header h1, h2, h3, h4, h5, h6;
@custom-selector :--button button, .button;

/*
Use `border-box` properly:
https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
*/
html { box-sizing: border-box; }
*, *::before, *::after { box-sizing: inherit; }

/* Disable focus. */
*:focus { outline: none; }

/* Text selection */
::selection {
  background: var(--color-background-header-alt);
  color: #fff;
}

body {
  background-color: var(--color-background);
  font-family: var(--font-body);
  font-size: var(--size-body);
  color: var(--color-body);
  line-height: var(--line-height);
  margin: 0;
  padding-bottom: calc(var(--line-height) * 2);
  hyphens: auto;
}

a {
  color: inherit;
  text-decoration: inherit;
}

p, ul, ol, pre, .table-wrapper {
  margin: 0 0 var(--line-height);
}

ul, ol {
  padding-left: var(--line-height);
}

pre, code {
  font-family: var(--font-mono);
  font-size: var(--size-mono);
}

pre {
  padding: calc(var(--line-height) * 1 / 2) calc(var(--line-height) * 3 / 4);
  background-color: var(--color-ultralight);
  border-radius: var(--border-radius);
  box-shadow: 0 -1px 0 var(--color-light);
  line-height: var(--mono-height);
  margin: calc(var(--line-height) * 3 / 2) 0;
  overflow: auto;
}

code {
  padding: 0.2em 0.3em;
  border-radius: var(--border-radius);
  background-color: var(--color-code);
}

li pre {
  margin: calc(var(--line-height) * 1 / 2) 0;
}

pre code {
  font-size: 1em;
  background: none;
  padding: 0;
}

:--header {
  color: var(--color-solid);
  font-size: calc(1em * 6 / 5);
  font-family: var(--font-alt);
  font-weight: inherit;
  padding-top: calc(var(--line-height) * 1 / (6 / 5));
  margin: calc(var(--line-height) * 2 / (6 / 5)) 0 calc(var(--line-height) * 1 / (6 / 5));
  letter-spacing: 1px;
}

:--header a {
  color: var(--color-fade) !important;
  margin-left: 0.5em;
  text-decoration: none !important;
}

header {
  background: linear-gradient(
    150deg,
    var(--color-background-header-alt) 20%,
    var(--color-background-header) 80%);
  background-color: var(--color-background-header);
  padding:
    calc(var(--line-height) * 3)
    var(--line-height)
    calc(var(--line-height) * 2);
  text-align: center;
  overflow: hidden;
  position: relative;
}

header > div {
  max-width: calc(var(--max-width) - var(--line-height) * 2);
  margin: calc(var(--line-height) * (7 / 2) - 1px) auto 0;
  position: relative;
  display: flex;
  flex-flow: row;
  border-top: 1px var(--color-fade) solid;
}

header > div::after, header aside::after {
  content: ' ';
  display: block;
  clear: both;
}

header aside {
  flex: 1;
  border-right: 1px var(--color-fade) solid;
  border-top: none;
  border-bottom: none;
  color: var(--color-alt);
}

header aside:last-of-type {
  border-right: none;
}

header ul {
  list-style-type: none;
  padding: 0;
  margin: 0 0 calc(var(--line-height) * (1 / 2) * (8 / 7));
  font-size: calc(1em * 7 / 8);
  line-height: calc(var(--line-height) * 8 / 7);
}

header h3 {
  font-family: inherit;
  margin: calc(var(--line-height) * 1 / (4 / 5)) 0 calc(var(--line-height) * (1 / 2) / (4 / 5));
  padding: 0;
  font-size: calc(1em * 4 / 5);
  line-height: calc(var(--line-height) / (4 / 5));
  text-transform: uppercase;
  letter-spacing: 2px;
}

header h1 {
  font-size: 1.4em;
  font-style: italic;
  font-weight: normal;
  letter-spacing: -1px;
  line-height: calc(var(--line-height) / 1.4);
  margin: 0;
  padding: 0;
  color: var(--color-body);
}

header h1 span {
  font-weight: bold;
}

header h2 {
  font-size: calc(1em * 9 / 5);
  line-height: calc(var(--line-height) * 2 / (9 / 5));
  letter-spacing: 0;
  font-weight: normal;
  padding: 0;
  margin: calc(var(--line-height) * (5 / 2) / (9 / 5)) 0 calc(var(--line-height) * 1 / (9 / 5));
  color: var(--color-solid);
}

header code {
  display: inline-block;
  background-color: var(--color-ultralight);
  border-radius: var(--border-radius);
  line-height: var(--mono-height);
  box-shadow: inset 0 1px 0 var(--color-light);
  padding: calc(var(--mono-height) / 2) 1em;
  color: var(--color-body);
}

header code::before {
  content: '$ ';
  opacity: 0.4;
}

header code,
header :--button {
  margin: 0 0.4em;
}

header code .version {
  color: var(--color-alt);
}

.template {
  display: none;
}

.example {
  padding: calc(var(--line-height) * 3 / 4);
  background-color: var(--color-ultralight);
  border-radius: var(--border-radius);
  box-shadow: 0 -1px 0 var(--color-light);
  margin: calc(var(--line-height) * 3 / 2) 0;
}

.example .block {
  position: relative;
  z-index: 100;
  float: left;
  cursor: pointer;
  color: var(--color-code-c);
  font-weight: bold;
  border: 1px var(--color-code-c) solid;
  border-radius: var(--border-radius);
  width: calc(var(--line-height) * 3 / 2);
  text-align: center;
  padding: var(--border-radius) 0;
  margin-left: calc(var(--line-height) * -2 + var(--border-radius) * -2);
  margin-right: calc(var(--border-radius) * 2);
  opacity: 0;
  transition: all 0.5s ease;
}

.example .block.fade-in {
  margin-left: 0;
  opacity: 1;
}

.example .block.alternate {
  color: var(--color-code-a);
  border-color: var(--color-code-a);
  animation-duration: 0.5s;
  animation-name: alternate;
}

.example .block:not(.alternate).bounce {
  animation-duration: 1s;
  animation-name: flash;
}

@keyframes alternate {
  from {
    color: var(--color-solid);
    border-color: var(--color-solid);
  }
  to {
    color: var(--color-code-a);
    border-color: var(--color-code-a);
  }
}

@keyframes flash {
  from {
    color: var(--color-code-b);
    border-color: var(--color-code-b);
  }
  to {
    color: var(--color-code-c);
    border-color: var(--color-code-c);
  }
}

.example .block.fade-out {
  transition: all 1.5s ease;
  transform: rotate(-30deg) translateY(-1em);
  cursor: default;
  z-index: 0;
}

.example p,
.example ul {
  margin: 0;
}

.example code {
  background-color: transparent;
}

.example ul {
  padding: 0;
  list-style-type: none;
  font-size: 0.8em;
  line-height: var(--mono-height);
  margin: 0.2em 0;
}

.example li::before {
  content: '-';
  font-family: var(--font-mono);
  font-size: var(--size-mono);
}

.example .left,
.example .right {
  width: 50%;
  color: var(--color-alt);
}

.example .left {
  float: left;
  padding-right: calc(var(--line-height) * 1 / 2);
}

.example .right {
  float: right;
  padding-left: calc(var(--line-height) * 1 / 2);
  white-space: nowrap;
}

.container::after {
  content: ' ';
  display: block;
  clear: both;
}

.container > div > p {
  font-size: calc(1em * 4 / 5);
  color: var(--color-body);
  font-weight: bold;
}

.example input {
  color: var(--color-body);
  padding: 0 calc(var(--mono-height) * 3 / 4);
  background-color: var(--color-ultralight);
  border-radius: var(--border-radius);
  box-shadow: 0 -1px 0 var(--color-light);
  height: calc(var(--mono-height) * 7 / 4);
  margin: calc(var(--line-height) * 1 / 2) 0 0;
  font-size: var(--size-mono);
  font-family: var(--font-mono);
  width: 100%;
  border: none;
}

.product-container {
  border-radius: var(--border-radius);
  background-color: var(--color-example);
  border: 1px rgba(0, 0, 0, 0.45) solid;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15);
  height: calc(var(--line-height) * 5);
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  padding-top: 1.5em;
  position: relative;
}

.product-container h1 {
  display: inline-block;
  padding: 0;
  margin: 0;
  font-size: calc(1em * 5 / 4);
  font-weight: normal;
  color: var(--color-body);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}

.product-container h4 {
  display: inline-block;
  padding: 0;
  margin: 0;
  font-size: inherit;
  font-family: inherit;
  font-weight: normal;
  color: var(--color-fade);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
  position: relative;
  top: calc(1em * 1 / 4);
}

.product-container h1,
.product-container h4,
.product-container .details > div > span {
  text-transform: capitalize;
}

.product-container h1::after,
.product-container h4::after {
  content: ', ';
  margin-right: 0.5em;
}

.product-container h1:last-of-type::after,
.product-container h4:last-of-type::after {
  display: none;
}

.product-container hr {
  border: none;
  height: 0;
  margin: 0 0 calc(var(--line-height) * -2 / 3);
}

.product-container .details {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 1px rgba(255, 255, 255, 0.15) solid;
  background-color: rgba(0, 0, 0, 0.1);
  font-size: calc(1em * 4 / 5);
  line-height: var(--line-height);
  height: calc(var(--line-height) * 2);
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}

.product-container .details > div {
  display: inline-block;
  position: relative;
  top: calc(var(--line-height) * -2 / 3);
  border-radius: var(--border-radius);
  background-color: var(--color-example);
  border: 1px rgba(0, 0, 0, 0.3) solid;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15);
}

.product-container .details > div > span {
  display: inline-block;
  padding: calc(var(--line-height) * 1 / 6 - 2px) 0.8em;
  position: relative;
  color: var(--color-alt);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}

.product-container .details > div > span::after {
  content: ' ';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.075);
}

.product-container .details > div > span:last-of-type::after {
  display: none;
}

article {
  max-width: var(--max-width);
  padding: 0 var(--line-height);
  margin: 0 auto;
}

article a {
  text-decoration: underline;
  color: var(--color-code-c);
}

:--button {
  display: inline-block;
  vertical-align: middle;
  border: 1px var(--color-code-a) solid;
  border-radius: var(--border-radius);
  line-height: calc(var(--mono-height) * 2 - 2px);
  color: var(--color-code-a);
  padding: 0 1em;
  font-weight: bold;
  font-size: var(--size-mono);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
  transition: color 0.2s ease, border-color 0.2s ease;
}

:--button label {
  margin-left: 0.5em;
}

:--button:hover {
  color: var(--color-solid);
  border-color: var(--color-solid);
}

#corner {
  position: absolute;
  top: 2.6em;
  right: -4em;
  transform: rotate(45deg);
  transform-origin: center;
  width: 15em;
  line-height: calc(var(--line-height) * 4 / 3);
  text-align: center;
  display: block;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--color-body);
}
