table {
  border-spacing: 0;
  border-collapse: collapse;
  position: relative;
  width: 100%;
}

table td, table th {
  padding:
    calc(var(--line-height) * 1 / 4)
    calc(var(--line-height) * 1 / 2);
}

table th {
  hyphens: none;
  white-space: nowrap;
  background-color: var(--color-ultralight);
  font-family: var(--font-header);
}

tbody code {
  background: none;
  padding: 0;
}

tbody tr:nth-of-type(2n) {
  background-color: var(--color-ultralight);
}

.table-wrapper {
  overflow: auto;
  box-shadow: 0 -1px 0 var(--color-light);
}
