:root {

  /* colors */
  --color-background: #FFFFFF;
  --color-background-header: #357F94;
  --color-background-subheader: rgba(0, 0, 0, 0.05);
  --color-header-alt: rgba(255, 255, 255, 0.6);
  --color-header-fade: rgba(255, 255, 255, 0.4);
  --color-header-light: rgba(255, 255, 255, 0.2);
  --color-solid: rgba(0, 0, 0, 1);
  --color-body: rgba(0, 0, 0, 0.6666);
  --color-alt: rgba(0, 0, 0, 0.5);
  --color-fade: rgba(0, 0, 0, 0.3333);
  --color-light: rgba(0, 0, 0, 0.2222);
  --color-code-a: #B56041;
  --color-code-b: #8F4AA8;
  --color-code-c: #357F94;
  --color-button: #B56041;

  /* fonts */
  --font-body: Helvetica, Arial, sans-serif;
  --font-mono: monospace;

  /* measurements */
  --max-width: 47em;
  --size-body: 17px;
  --size-mono: calc(1em * 16 / 17);
  --line-height: calc(1em * 5 / 3);
  --mono-height: calc(1em * 4 / 3);
  --border-radius: calc(1em / 3);

}
