:root {

  /* colors */
  --color-background: #FFFFFF;
  --color-background-header: #765DBA;
  --color-background-subheader: #6750A6;
  --color-header-alt: rgba(255, 255, 255, 0.6);
  --color-header-fade: rgba(255, 255, 255, 0.4);
  --color-header-light: rgba(255, 255, 255, 0.2);
  --color-solid: rgba(0, 0, 0, 1);
  --color-body: rgba(0, 0, 0, 0.8);
  --color-alt: rgba(0, 0, 0, 0.6);
  --color-light: rgba(0, 0, 0, 0.2);
  --color-code-a: #B56041;
  --color-code-b: #8F4AA8;
  --color-code-c: #359479;
  --color-button: #C9478C;

  /* fonts */
  --font-header:
    'Avenir', /* Mac */
    'DejaVu Sans', /* Linux */
    'Calibri', /* Windows */
    sans-serif /* Generic */;
  --font-body:
    'Baskerville', /* Mac */
    'Georgia', /* Windows */
    serif /* Generic */;
  --font-mono:
    'Monaco',
    'Consolas',
    'Andale Mono',
    'Lucida Console',
    monospace;

  /* measurements */
  --max-width: 42em;
  --size-body: 18px;
  --size-mono: calc(1em * 7 / 9);
  --line-height: calc(1em * 5 / 3);
  --mono-height: calc(1em * 3 / 2);
  --border-radius: calc(1em / 2);

}
