:root {

  /* colors */
  --color-background: #242326;
  --color-background-header: #353338;
  --color-solid: rgba(255, 255, 255, 1);
  --color-body: rgba(255, 255, 255, 0.75);
  --color-alt: rgba(255, 255, 255, 0.5);
  --color-fade: rgba(255, 255, 255, 0.25);
  --color-light: rgba(0, 0, 0, 0.25);
  --color-ultralight: rgba(0, 0, 0, 0.125);
  --color-code: rgba(255, 255, 255, 0.0625);
  --color-code-a: #EB9575;
  --color-code-b: #BC8FCC;
  --color-code-c: #76B1C2;
  --color-example: #34313B;

  /* fonts */
  --font-body: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  --font-alt: Georgia, serif;
  --font-mono: monospace;

  /* measurements */
  --max-width: 50em;
  --size-body: 16px;
  --size-mono: calc(1em * 15 / 16);
  --line-height: calc(1em * 13 / 8);
  --mono-height: calc(1em * 7 / 5);
  --border-radius: calc(1em / 3);

}
